<section class="mystic-treasures">
  <div class="treasures-title">
    <h2>Mystic Treasures by Purpose</h2>
  </div>
  <div class="treasure-grid">
    {% for i in (1..12) %}
      <div class="treasure-box">
        <p>Treasure {{ i }}</p>
      </div>
    {% endfor %}
  </div>
</section>
